.dashboard-row{
    display: flex;
    margin-top: 10px;
    background-color: silver;
    height: max-content ;
    width: 100%;
    border: 5px solid silver;
}

.dashboard-frame{
width: 95%;
}


.shout-out-bar-container {
    background-color: white;
    width: 340vh;
    height: 30px;
    transition: height 0.3s ease; /* Smooth transition for height */
  }
  
  .bar-content {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  
  .arrow-icon {
    margin-top: 5px;
    transform: rotate(0deg);
    cursor: pointer;
  }
  
  .open {
    max-height: 300px; /* Adjust height accordingly */
    width: 300vh;

  }

  .widget-half-page{

    height: 400px;
    width: 50%;
    background-color: white;
    margin-right: 5px;
    overflow-y: auto;
  
  }

  .widget-third-page{
     overflow-y: auto;
     height:350px;
     width: 33%;

     
     
    
    }

    .line-chart{

        background-color: white;
        height: 100%;
        width: 600px;
        padding: 2px;

    }
