.dashboard-row{
    display: flex;
    margin-top: 10px;
    background-color: silver;
    height: max-content ;
    width: 100%;
    border: 5px solid silver;
}

.dashboard-frame{
width: 95%;
}


.shout-out-bar-container {
    background-color: white;
    width: 340vh;
    height: 30px;
    transition: height 0.3s ease; /* Smooth transition for height */
  }
  
  .bar-content {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  
  .arrow-icon {
    margin-top: 5px;
    transform: rotate(0deg);
    cursor: pointer;
  }
  
  .open {
    height: 60px; /* Adjust height accordingly */
  }

  .teacher-widget-third{
    margin-right: 20px;
    overflow-y: auto;
    height: 350px;
    border: solid 3px black;
    width: 33%;
    background-color: white;

  }


  .login-btn{
    display: inline-block;
    line-height: 15px;
    padding: 9px;
    text-align: center;
    margin: 14px 0 13px 19px;
    background: #555;
    color: #fff;
    width: 75px;
    border-radius: 20px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 500;
    max-width: 264px;
}

.none{
    display:none;
}


/* Navigation */
#menu {
    position: relative; /* Ensure relative positioning for absolute positioning of dropdown */
  padding: 15px;
  transition: all 0.8s;
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  #menu.navbar-default {
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  #menu a.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
  }


/* Dropdown Menu Styles */
.dropdown-menu {
    position: absolute;
    top: 100%; /* Position the dropdown below the menu bar */
    left: 0;
    z-index: 1000; /* Ensure dropdown is above other content */
    display: none; /* Hide dropdown by default */
    min-width: 160px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Show dropdown on hover or click */
  .dropdown:hover .dropdown-menu,
  .dropdown:focus .dropdown-menu {
    display: block;
  }
  
  /* Dropdown menu item styles */
  .dropdown-menu-item {
    padding: 8px 10px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #555;
    font-size: 15px;
    font-weight: 400;
  }
  
  .dropdown-menu-item:hover {
    background-color: #f5f5f5;
  }


  

  #menu.navbar-default .navbar-nav > li > div {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 2px;
    border-radius: 0;
    margin: 9px 20px 0;
  }
  #menu.navbar-default .navbar-nav > li > div:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    content: "";
    transition: width 0.2s;
  }
  #menu.navbar-default .navbar-nav > li > div:hover:after {
    width: 100%;
  }
  .navbar-default .navbar-nav > .active > div,
  .navbar-default .navbar-nav > .active > div:hover,
  .navbar-default .navbar-nav > .active > div:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > div:after,
  .navbar-default .navbar-nav > .active > div:hover:after,
  .navbar-default .navbar-nav > .active > div:focus:after {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    bottom: -1px !important;
    width: 100% !important;
    height: 2px !important;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
    content: "" !important;
    transition: width 0.2s !important;
  }



.overview-row{

  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 100%;
  padding: 10px 10px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff;
  overflow-x: scroll;
  


}


.card-overview-half {
  margin-right: 5px;
  
  height: 400px;
  padding: 1%;
  background-color: #fff;
  min-width: 870px;
  max-width: 49%;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  overflow: hidden;
}

.card-overview-third {
  margin-right: 5px;
  height: 400px;
  min-width: 600px;
  max-width: 33%;
  padding: 1%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  overflow-y: scroll;
}

.card-title{
  background-color:rgb(25, 118, 210);
  margin-top:10px;
  margin-block:5px

}

  
  